#hills_battle{
    -fx-background-image: url("res/hills.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 1440 810;
    -fx-background-position: center center;
}

#main_menu{
    -fx-background-image: url("res/menuBackground.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: 1440 810;
    -fx-background-position: center center;
}

#start_button {
    -fx-background-image: url("res/cherry.jpg");
    -fx-font-smoothing-type: lcd;
}
